@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix(http://www.youtube), url-prefix(https://www.youtube) {
	
	#ticker {
		display: none;
	}
	
	#masthead-positioner-height-offset {
		display: none;
	}
	
	#masthead-positioner {
		top: -24px;
		transition: opacity 3s ease, top 1.2s ease;
	}
	
	#masthead-positioner:hover {
		top: 0px;
		transition: opacity 0.2s ease, top 0.2s ease;
	}
	
	#yt-masthead-container {
		padding-top: 0;
		padding-bottom: 0;
	}
	
}
